<a href="https://colab.research.google.com/github/dantls/python-ds/blob/main/PythonDS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo de caso House Sales in King County

### Importando bibliotecas

In [2]:
import pandas as pd

### Lendo arquivo csv do Google

In [3]:
sheet_id = '1f43yC-6qP2K2ZM1e-yWEhO4wh0eQrJhCdnK_R4BJ42c'

data = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv")

df = pd.DataFrame(data)

df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

#Questions / Answers

## 1 - Quantas casas estão disponíveis para compra

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.sort_values(by=['date', 'id'])
df = df.drop_duplicates(subset=['id'])

In [6]:
df.shape[0]

21436

##2 - Quantos atributos as casas possuem?

In [7]:
df.shape[1]

21

##3 - Quais são os atributos?

In [8]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

##4 - Qual a casa mais cara do portfólio?

In [9]:

df[['id','price']].sort_values('price', ascending=False).shape[0]

21436

##5 - Qual a casa com maior número de quartos?

In [10]:
df.sort_values('bedrooms', ascending=False).head(1)

               id       date     price  ...     long  sqft_living15  sqft_lot15
15870  2402100895 2014-06-25  640000.0  ... -122.331           1330        4700

[1 rows x 21 columns]

##6 - Qual a soma total de quartos do conjunto de dados?

In [11]:
df['bedrooms'].sum()

72273

## 7 - Quantas casas possuem 2 banheiros?

In [12]:
df[df['bathrooms'] == 2].shape[0]

1913

##8 - Qual o preço médio de todas as casas no conjunto de dados?

In [13]:
df['price'].mean()

540623.6140138085

##9 - Qual o preço médio de casas com 2 banheiros?

In [14]:
round(df.loc[df['bathrooms'] == 2, 'price'].mean(),2)

457857.71

##10 - Qual o preço mínimo entre as casas com 3 quartos?

In [15]:
df.loc[df['bathrooms'] == 3,'price'].min()

154000.0

##11 - Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [16]:
df['living_mt2'] = df['sqft_living'] * 10.764

In [17]:
df[df['living_mt2'] > 300].shape[0]

21436

##12. Quantas casas tem mais de 2 andares?

In [18]:
df[df['floors'] > 2].shape[0]

780

##13. Quantas casas tem vista para o mar?

In [19]:
df[df['waterfront'] == 1].shape[0]

163

##14. Das casas com vista para o mar, quantas tem 3 quartos?

In [20]:
df.loc[(df['waterfront'] == 1 ) & ( df['bedrooms'] == 3 )].shape[0]

64

##15 - Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [21]:
df.loc[(df['living_mt2']>300) & (df['bathrooms']>2)].shape[0]

11184