<a href="https://colab.research.google.com/github/dantls/python-ds/blob/main/PythonDS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo de caso House Sales in King County

### Importando bibliotecas

In [71]:
import pandas as pd

### Lendo arquivo csv do Google

In [72]:
sheet_id = '1f43yC-6qP2K2ZM1e-yWEhO4wh0eQrJhCdnK_R4BJ42c'

data = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv")

df = pd.DataFrame(data)

df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

##Questions / Answers

### 1 - Quantas casas estão disponíveis para compra

In [73]:
df.shape[0]

21613

###2 - Quantos atributos as casas possuem?

In [74]:
df.shape[1]

21

###3 - Quais são os atributos?

In [75]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

###4 - Qual a casa mais cara do portfólio?

In [76]:
df.sort_values('price',ascending=False).head(1)

              id             date  ...  sqft_living15  sqft_lot15
7252  6762700020  20141013T000000  ...           3940        8800

[1 rows x 21 columns]

###5 - Qual a casa com maior número de quartos?

In [77]:
df.sort_values('bedrooms', ascending=False).head(1)

               id             date  ...  sqft_living15  sqft_lot15
15870  2402100895  20140625T000000  ...           1330        4700

[1 rows x 21 columns]

###6 - Qual a soma total de quartos do conjunto de dados?

In [78]:
df['bedrooms'].sum()

72854

##  7 - Quantas casas possuem 2 banheiros?

##8 - Qual o preço médio de todas as casas no conjunto de dados?

##9 - Qual o preço médio de casas com 2 banheiros?

##10 - Qual o preço mínimo entre as casas com 3 quartos?

##11 - Quantas casas possuem mais de 300 metros quadrados na sala de estar?

##12. Quantas casas tem mais de 2 andares?

##13. Quantas casas tem vista para o mar?

##14. Das casas com vista para o mar, quantas tem 3 quartos?

##15 - Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?